<!DOCTYPE html>
<html>
<head>
  <title>RubyBursaProject</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="header">
	<%if current_user %>
		<%= current_user.email %>
		<%= link_to 'Выйти', session_path(:current), method: :delete, data: {confirm: "Вы уверены?"} %>
	<% else %> 
 		<%= link_to 'Зарегестрироваться', new_user_path %> | 
		<%= link_to 'Войти', new_session_path %>
	<% end %>
</div>

<div class="right-side-menu">

<% if current_user %>
	<li>
		<ul><%= link_to 'Все петиции', petitions_path %></ul>
		<ul><%= link_to 'Создать петицию', new_petition_path %></ul>
		<ul><%= link_to 'Мои петиции', my_petitions_petitions_path %></ul>
	<%else%>
		<ul><%= link_to 'Все петиции', petitions_path %></ul>
		<ul><%= link_to 'Создать петицию', new_petition_path %></ul>
	</li>
<% end %>

</div>

<div class="content">
<%= yield %>
</div>

</body>
</html>
